:root {
  --main-color: #f8db27;
  --second-color: #ff81c1;
  --main-font: sans-serif;
}

.body {
  background-image: url(../images/sky_bg.jpg);
  height: 100vh;
  width: 100vw;
}

.header {
  height: 15vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px 0 30px;
}

.score {
  color: var(--second-color);
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 1.8rem;
  padding: 40px;
  background-image: url(../images/potato-chips.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.container-title {
  width: 30%;
}

.title-back {
  width: 100%;

  &:hover {
    opacity: 75%;
  }
}

.timer {
  font-size: 1.8rem;
  color: var(--main-color);
  font-family: var(--main-font);
  font-weight: bold;
  padding: 60px;
  background-image: url(../images/carbon-rod.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.main {
  height: 85vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 20px 20px;
  position: relative;
}


/* Per si vull afegir les tecles de pujar i baixar */

/* .keys {
  width: 8%;
}

.up {
  width: 100%;
  padding-bottom: 5px;
}

.down {
  width: 100%;
} */

.homer {
  height: 120px;
  padding-left: 25px;
  z-index: 1;
}

.chips {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 5px;
  position: relative;
}

.chip {
  width: 90px;
}

/* Posició exacte en la que la patata queda per sota del Homer */
/* .chip3 {
  position: absolute;
  right: 1100px;
} */

.game-over {
  background-color: var(--main-color);
  width: 350px;
  height: 350px;
  position: absolute;
  right: 40%;
  top: 30%;
  border-radius: 25px;
  border: var(--second-color) 10px solid;
  display: none;
}

.game-over-title,
.game-over-img {
  width: 80%;
}
