:root {
  --main-color: #f8db27;
  --second-color: #ff81c1;
  --main-font: sans-serif;
}

.body {
  background-image: url(../images/sky_bg.jpg);
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.header {
  height: 15vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px 0 30px;
}

.score {
  color: var(--second-color);
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 1.8rem;
  padding: 40px;
  background-image: url(../images/potato-chips.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.container-title {
  width: 30%;
}

.title-back {
  width: 100%;

  &:hover {
    opacity: 75%;
  }
}

.timer {
  font-size: 1.8rem;
  color: var(--main-color);
  font-family: var(--main-font);
  font-weight: bold;
  padding: 60px;
  background-image: url(../images/carbon-rod.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.main {
  height: 85vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 20px 20px;
  position: relative;
}

/* Per si vull afegir les tecles de pujar i baixar */

/* .keys {
  width: 8%;
}

.up {
  width: 100%;
  padding-bottom: 5px;
}

.down {
  width: 100%;
} */

.homer {
  height: 120px;
  padding-left: 25px;
  z-index: 1;
}
/*
position: absolute
  chip1 --> top: 3%
  chip2 --> top: 21%
  chip3 --> top: 39%
  chip4 --> top: 57%
  chip5 --> top: 75%

  moviment de 18%
*/

.chip {
  width: 90px;
  position: absolute;
  right: -100px;

  &.chip1 {
    top: 8%;
    animation: chip1Animation 5s linear infinite;
  }
  &.chip2 {
    top: 26%;
    animation: chip1Animation 5s 3s linear infinite;
  }
  &.chip3 {
    top: 44%;
    animation: chip1Animation 4s 2s linear infinite;
  }
  &.chip4 {
    top: 62%;
    animation: chip1Animation 7s 4s linear infinite;
  }
  &.chip5 {
    top: 80%;
    animation: chip1Animation 7s 1s linear infinite;
  }
}

@keyframes chip1Animation {
  0% {
    right: -100px;
  }
  100% {
    right: calc(100% + 100px); 
  }
}

/* Posició exacte en la que la patata queda per sota del Homer */
/* .chip3 {
  position: absolute;
  right: 1100px;
} */

.game-over {
  background-color: var(--main-color);
  width: 400px;
  height: 400px;
  position: absolute;
  right: 37%;
  top: 25%;
  border-radius: 25px;
  border: var(--second-color) 10px solid;
  box-shadow: 5px 5px 5px black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.hidden {
  display: none;
}

.game-over-title,
.game-over-img {
  width: 80%;
}

.play-again {
  color: var(--main-color);
  font-family: var(--main-font);
  text-transform: uppercase;
  background-color: var(--second-color);
  box-shadow: 1px 1px 3px black;
  border-radius: 10px;
  font-weight: bold;
  font-size: 1.5rem;
  padding: 5px;

  &:hover {
    opacity: 75%;
  }
}
